@charset "UTF-8";

/* Estilos gerais */
h3 {
	border-bottom: 1px solid #333333;
}

.icon-align {
	margin-left: -11px;
	margin-right: -3px;
	margin-top: 32px;
}
.espacamento-topo10{
    margin-bottom: 10px;
}

.tabs-left>.nav-tabs {
	white-space: normal;
	margin-right: -1px;
}

.margin-left20 {
	margin-left: 20px;
}

hr{
	border-color: #DDDDDD -moz-use-text-color #EEEEEE !important;
}
.marg-top-10{
  margin-top: 10px;
}
.marg-bottom-10{
  margin-bottom: 10px;
}

.margin-top-double {
  margin-top: 2em !important;
}
.margin-bottom-double {
  margin-bottom: 2em !important;
}

.fielder-fab {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 10px 0 15px;
    padding: 15px 15px;
    width: 100%;
    border-radius: 4px;
    
}

.error {
	border: 1px solid #b94a48 !important;
    background-color: #fee !important;
}
.obrigatorio {
	position:relative;
}
.obrigatorio:after {
	color: #a94442;
	content: '\2731';
	font-size: 13px;
	margin-left: 0.2em;
	position:absolute;
	font-weight: normal;
}

/* Define que os inputs de checkbox e radio serão inline por padrão  */
input[type=radio], input[type=radio] + label,
	input[type=checkbox], input[type=checkbox] + label {
	display:inline !important;
	width:auto;
}
input[type=radio] + label,
	input[type=checkbox] + label {
	padding-right:1em;
}

/* Use para dar o espaço de uma label no topo de um elemento.
    Ex.: um botão na mesma linha que outros campos do formulário */
.espacamento-label-top {
	margin-top:23px;
}

/* Para consertar um conflito de classes .header no cabeçalho da ng-table */
.ng-table tr th.header {
    float:none;
    margin-bottom:auto;
    width:auto;
}

/* Classes utilitárias que existem no Bootstrap 2.3.2 e não existem no 2.0.4 */
.text-left {
	text-align:left;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-justified {
	text-align:justify;
}

#BoxMenuPrincipal {
	margin-bottom:1em;
}

/* Telas */

    /* Tela de Configuração do Questionário de Ouvidoria */
.configuracao-questionario ul.questoes>li>label {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.configuracao-questionario ul.alternativas>li>label {
    color: #666666;
    cursor: pointer;
}

.configuracao-questionario h3 {
  margin-top: 0;
}
.configuracao-questionario .mensagem-rascunho {
  margin-right: 1em;
  color: #666;
}

    /* Cadastro de ouvidoria - informações legais */
.informacoes-legais {
	
}
.informacoes-legais .possui-base-legal {
    margin-bottom:2em;
}

/*.informacoes-legais ul.arquivos {
	margin:0;
	padding:0;
	width:40em;
}
.informacoes-legais ul.arquivos li {
	background-color:white;
	margin:0.5em 0;
	padding:0 1em;
	line-height:2.1em;
	font-size:1.2em;
	border:solid 0.1em #f0f0f0;
}*/

/* Informações do usuário */
.informacoes-usuario p {
	font-size:1.1em;
}
.informacoes-usuario .nome-campo {
    font-weight:bold;
    font-size:1.2em;
}

/* Registrar ficha de cadastro */
.registrar-ficha-cadastro .nome-campo,
    .visualizar-membro-ficha .nome-campo {
    font-weight:bold;
}

/* Configuração de exibição das ações da tabela de membros */
.registrar-ficha-cadastro .tabela-membros .acao-visualizar-membro {
	/* Aqui mostra */
}
.registrar-ficha-cadastro .tabela-membros .acao-alterar-membro {
	/* Aqui mostra */
}
.registrar-ficha-cadastro .tabela-membros .acao-remover-membro {
	/* Aqui mostra */
}

.manter-membro-ficha .tabela-membros .acao-visualizar-membro {
	display:none;	/* Aqui não mostra */
}
.manter-membro-ficha .tabela-membros .acao-alterar-membro {
	display:none; /* Aqui não mostra */
}
.manter-membro-ficha .tabela-membros .acao-remover-membro {
	/* Aqui mostra */
}