<div ng-controller="taskCtrl">
    <input type="search" class="form-control app-search" placeholder="Pesquisar..." ng-model="searchText.Title" />
    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="item in tasksList | filter:searchText:strict" href="#/editTask/{{item.TaskId}}" class="list-group-item clearfix">
                <span ng-hide="item.Done" class="fa fa-square-o"></span>
                <span ng-show="item.Done" class="fa fa-check-square-o" style="color: green"></span>
                <span>{{ item.Title }}</span>
                <i class="fa fa-chevron-right pull-right"></i>
                <!--<span class="pull-right">
                    <button class="btn btn-xs btn-info">Editar</button>
                </span>-->
            </a>
        </div>
      </div>
    </div>
</div>
